@import "../../styles/main";

// size part:

// default
.btn_size_default {
  @include radius-6;
  @include pdy-12;
  @include pdx-16;
  @include font-button-large;
  @include border;
  @include pointer;
  height: px(44);
}

.btn_size_default_textLink {
  @include font-button-large;
  @include border;
  @include pointer;
}

// small
.btn_size_small {
  @include radius-4;
  @include pdy-4;
  @include pdx-8;
  @include font-button-small;
  @include border;
  @include pointer;
  height: px(24);
}

.btn_size_small_textLink {
  @include font-button-small;
  @include border;
  @include pointer;
}

// button style
// default
.btn_default[type="button"] {
  color: $white;
  background-color: $primary-color-1;
  &:hover {
    background-color: $primary-color-2;
  }
  &:active {
    background-color: $primary-color-3;
  }
  &:disabled {
    @include not-allowed;
    background-color: $secondary-color-3;
    color: $gray-3;
  }
}

// secondary
.btn_secondary[type="button"] {
  color: $secondary-color-5;
  background-color: $white;
  @include border($secondary-color-2);
  &:hover {
    color: $primary-color-1;
    background-color: $secondary-color-3;
    @include border($primary-color-1);
  }
  &:active {
    color: $primary-color-1;
    background-color: $secondary-color-4;
    @include border($primary-color-1);
  }
  &:disabled {
    @include not-allowed;
    color: $gray-3;
    background-color: $gray-1;
    @include border($gray-2);
  }
}

// filled
.btn_filled[type="button"] {
  color: $primary-color-1;
  background-color: $white;
  &:hover {
    background-color: $secondary-color-3;
  }
  &:active {
    background-color: $secondary-color-4;
  }
  &:disabled {
    @include not-allowed;
    color: $gray-3;
    background-color: $gray-1;
  }
}

//textLink
.btn_textLink[type="button"] {
  color: $primary-color-1;
  background-color: transparent;
  &:hover {
    color: $primary-color-2;
  }
  &:active {
    color: $primary-color-3;
  }
  &:disabled {
    @include not-allowed;
    color: $gray-3;
  }
}
