@import "../base/base";

$defined-sizes: 4, 8, 12, 16, 24, 32, 40, 48, 64, 96, 160;

// margin part

@each $size in $defined-sizes {
  .mg-#{$size} {
    margin: px($size) px($size) px($size) px($size);
  }
}

@each $size in $defined-sizes {
  .mgt-#{$size} {
    margin-top: px($size);
  }
}

@each $size in $defined-sizes {
  .mgb-#{$size} {
    margin-bottom: px($size);
  }
}

@each $size in $defined-sizes {
  .mgl-#{$size} {
    margin-left: px($size);
  }
}

@each $size in $defined-sizes {
  .mgr-#{$size} {
    margin-right: px($size);
  }
}

@each $size in $defined-sizes {
  .mgx-#{$size} {
    margin-left: px($size);
    margin-right: px($size);
  }
}

@each $size in $defined-sizes {
  .mgy-#{$size} {
    margin-top: px($size);
    margin-bottom: px($size);
  }
}

// padding part

@each $size in $defined-sizes {
  .pd-#{$size} {
    padding: px($size) px($size) px($size) px($size);
  }
}

@each $size in $defined-sizes {
  .pdt-#{$size} {
    padding-top: px($size);
  }
}

@each $size in $defined-sizes {
  .pdb-#{$size} {
    padding-bottom: px($size);
  }
}

@each $size in $defined-sizes {
  .pdl-#{$size} {
    padding-left: px($size);
  }
}

@each $size in $defined-sizes {
  .pdr-#{$size} {
    padding-right: px($size);
  }
}

@each $size in $defined-sizes {
  .pdx-#{$size} {
    padding-left: px($size);
    padding-right: px($size);
  }
}

@each $size in $defined-sizes {
  .pdy-#{$size} {
    padding-top: px($size);
    padding-bottom: px($size);
  }
}
