@mixin flex {
  display: flex;
}

@mixin item-center {
  @include flex;
  align-items: center;
}

@mixin justify-center {
  justify-content: center;
}

@mixin justify-between {
  justify-content: space-between;
}


@mixin row-reverse {
  flex-direction: row-reverse;
}

@mixin column-reverse {
  flex-direction: column-reverse;
}
