@mixin z($layer: 0) {
  z-index: $layer;
}

// for hide element
@mixin -z-1 {
  @include z(-1);
}

@mixin z-10 {
  @include z(10);
}

@mixin z-20 {
  @include z(20);
}

@mixin z-30 {
  @include z(30);
}

@mixin z-40 {
  @include z(40);
}

@mixin z-50 {
  @include z(50);
}


// to top layer
@mixin z-max {
  @include z(10000);
}
