@import "../../styles/main";

@mixin checkbox-icon-style {
  background-size: 70% 70%;
  background-position: center px(2);
  background-repeat: no-repeat;
}

.checkbox_wrapper {
  @include pointer;
  @include item-center;

  &_disabled {
    @include not-allowed;
  }

  .label {
    @include mgl-8;
    color: $secondary-color-6;
    user-select: none;
    &_disabled {
      color: $gray-3;
    }
  }
}

//  read-only is to fix tailwind issue, should be remove in future

.checkbox:read-only {
  @include pointer;
  @include border($gray-3);
  @include radius-4;
  @include mg-0;
  appearance: none; // disable default style
  outline: transparent;
  background-color: $white;
  width: px(14);
  height: px(14);

  &:disabled {
    background: $gray-1;
    @include not-allowed;
  }
  &:checked {
    @include border;
    @include checkbox-icon-style;
    background-color: $primary-color-1;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'8'%20height%3D'8'%20viewBox%3D'0%200%208%208'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%3Cpath%20d%3D'M7.68112%201.19393C7.84515%201.35802%207.9373%201.58054%207.9373%201.81256C7.9373%202.04458%207.84515%202.2671%207.68112%202.43118L3.30611%206.80618C3.14203%206.97022%202.91951%207.06237%202.68749%207.06237C2.45547%207.06237%202.23295%206.97022%202.06887%206.80618L0.318865%205.05618C0.159477%204.89116%200.0712816%204.67013%200.0732753%204.44071C0.0752689%204.21128%200.167292%203.99182%200.329524%203.82959C0.491756%203.66736%200.711217%203.57534%200.940639%203.57334C1.17006%203.57135%201.39109%203.65954%201.55611%203.81893L2.68749%204.95031L6.44387%201.19393C6.60795%201.0299%206.83047%200.937744%207.06249%200.937744C7.29451%200.937744%207.51703%201.0299%207.68112%201.19393Z'%20fill%3D'white'%2F%3E%0A%3C%2Fsvg%3E");
  }
  &:checked:disabled {
    @include border;
    background-color: $gray-1;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'8'%20height%3D'8'%20viewBox%3D'0%200%208%208'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%3Cpath%20d%3D'M7.68112%201.19393C7.84515%201.35802%207.9373%201.58054%207.9373%201.81256C7.9373%202.04458%207.84515%202.2671%207.68112%202.43118L3.30611%206.80618C3.14203%206.97022%202.91951%207.06237%202.68749%207.06237C2.45547%207.06237%202.23295%206.97022%202.06887%206.80618L0.318865%205.05618C0.159477%204.89116%200.0712816%204.67013%200.0732753%204.44071C0.0752689%204.21128%200.167292%203.99182%200.329524%203.82959C0.491756%203.66736%200.711217%203.57534%200.940639%203.57334C1.17006%203.57135%201.39109%203.65954%201.55611%203.81893L2.68749%204.95031L6.44387%201.19393C6.60795%201.0299%206.83047%200.937744%207.06249%200.937744C7.29451%200.937744%207.51703%201.0299%207.68112%201.19393Z'%20fill%3D'black'%20fill-opacity%3D'0.2'%2F%3E%0A%3C%2Fsvg%3E");
  }

  &:focus {
    @include border($primary-color-2);
  }

}

.checkbox_indeterminate:read-only {
  @include border;
  @include checkbox-icon-style;
  background-color: $primary-color-1;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D'10'%20height%3D'2'%20viewBox%3D'0%200%2010%202'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%3Crect%20width%3D'10'%20height%3D'2'%20rx%3D'1'%20fill%3D'white'%2F%3E%0A%3C%2Fsvg%3E%0A");
  &:disabled{
    @include checkbox-icon-style;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'10'%20height%3D'2'%20viewBox%3D'0%200%2010%202'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%3Crect%20width%3D'10'%20height%3D'2'%20rx%3D'1'%20fill%3D'black'%20fill-opacity%3D'0.2'%2F%3E%0A%3C%2Fsvg%3E%0A");
  }
}
