
.h1 {
  @include font-h1;
}

.h2 {
  @include font-h2;
}

.h3 {
  @include font-h3;
}

.h4 {
  @include font-h4;
}

.h5 {
  @include font-h5;
}

.h6 {
  @include font-h6;
}

.subhead-big {
  @include font-subhead-big;
}

.subhead-big {
  @include font-subhead-medium;
}

.subhead-small {
  @include font-subhead-small;
}

.body-big {
  @include font-body-big;
}

.body-medium {
  @include font-body-medium;
}

.body-small {
  @include font-body-small;
}

.caption {
  @include font-caption;
}

.button-large {
  @include font-button-large;
}

.button-small {
  @include font-button-small;
}

.button-nav {
  @include font-button-nav;
}
