// blue color

$light-grayish-blue: #f7f7fa;

$light-grayish-blue-3: #ebedf4;

$light-grayish-blue-2: #ececfa;

$light-grayish-blue-4: #dbe0ed;

$dark-light-grayish-blue: #c6c6f1;

$grayish-blue: #afb8cf;

$desaturated-dark-blue: #6f7999;

$light-blue: #4f50ff;

$moderate-blue: #4142c9;

$dark-moderate-blue: #36369e;

$dark-blue: #000187;

$very-dark-blue: #201c49;

// white-grey-black part

$white-pure: #ffffff;

$gray-005: rgba(0, 0, 0, 0.05);

$gray-010: rgba(0, 0, 0, 0.1);

$gray-020: rgba(0, 0, 0, 0.2);

$black-pure: #000000;

// green

$pale-lime-green: #d9ffdd;

$moderate-lime-green: #41cc4f;

$dark-lime-green: #00750c;

// red

$very-pale-red: #ffd9d9;

$vivid-red: #e21e1e;

$dark-red: #9b0000;

// yellow
$very-pale-yellow: #fff5cc;

$strong-yellow: #9ac301;

$vivid-yellow: #ffcf0d;

$vivid-yellow-2: #aedc01;

$bright-yellow: #cff62d;

$dark-yellow: #997b00;
