@import "px";
$default-font-family: "Manrope";

@mixin base-font($size, $weight, $lineHeight) {
  font-size: px($size);
  font-weight: $weight;
  font-family: $default-font-family;
  line-height: px($lineHeight);
}

@mixin font-h1 {
  @include base-font(34, 800, 40);
}

@mixin font-h2 {
  @include base-font(32, 800, 44);
}

@mixin font-h3 {
  @include base-font(26, 800, 36);
}

@mixin font-h4 {
  @include base-font(22, 700, 36);
}

@mixin font-h5 {
  @include base-font(22, 600, 36);
}

@mixin font-h6 {
  @include base-font(18, 600, 24);
}

@mixin font-subhead-big {
  @include base-font(16, 700, 24);
}

@mixin font-subhead-medium {
  @include base-font(16, 600, 24);
}

@mixin font-subhead-small {
  @include base-font(14, 600, 20);
}

@mixin font-body-big {
  @include base-font(16, 400, 28);
}

@mixin font-body-medium {
  @include base-font(14, 400, 20);
}

@mixin font-body-small {
  @include base-font(12, 500, 20);
}

@mixin font-caption {
  @include base-font(10, 400, 16);
}

@mixin font-button-large {
  @include base-font(14, 500, 20);
}

@mixin font-button-small {
  @include base-font(12, 500, 16);
}

@mixin font-button-nav {
  @include base-font(14, 500, 16);
}
