@import "../../styles/main";


.h1 {
  @include font-h1;
}

.h2 {
  @include font-h2;
}

.h3 {
  @include font-h3;
}

.h4 {
  @include font-h4;
}

.h5 {
  @include font-h5;
}

.h6 {
  @include font-h6;
}

.subhead_big {
  @include font-subhead-big;
}

.subhead_medium {
  @include font-subhead-medium;
}

.subhead_small {
  @include font-subhead-small;
}

.body_big {
  @include font-body-big;
}

.body_medium {
  @include font-body-medium;
}

.body_small {
  @include font-body-small;
}

.caption {
  @include font-caption;
}

.button_large {
  @include font-button-large;
}

.button_small {
  @include font-button-small;
}

.button_nav {
  @include font-button-nav;
}
