@import "../../styles/main";

.backdrop {
  @include z-max;
  @include flex;
  @include item-center;
  @include justify-center;
  position: fixed;
  background-color: $gray-3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & .panel {
    @include radius-8;
    @include pd-24;
    @include mg-24;

    background: $white;

    & .header {
      @include flex;
      @include row-reverse;
      @include justify-between;
      @include item-center;
      height: px(24);


      & .closeIcon {
        @include pointer;
        color: $secondary-color-5;
        width: px(12);
        height: px(12);
      }
    }
  }
  .content {
    @include mgt-16;
    overflow: auto;
    max-height: calc(100vh - #{px(176)});
  }

  & .small {
    width: px(464);
  }
  & .medium {
    width: px(656);
  }
  & .large {
    width: px(944);
  }
}

.footer {
  @include flex;
  @include mgt-24;
  @include gap-x-8;
  @include row-reverse;
}
