@mixin gap($size) {
  gap: px($size) px($size);
}

@mixin gap-4 {
  @include gap(4);
}

@mixin gap-8 {
  @include gap(8);
}

@mixin gap-12 {
  @include gap(12);
}

@mixin gap-16 {
  @include gap(16);
}

@mixin gap-24 {
  @include gap(24);
}

@mixin gap-32 {
  @include gap(32);
}

@mixin gap-40 {
  @include gap(40);
}
