@mixin gap-y($size) {
  row-gap: px($size);
}

@mixin gap-y-4 {
  @include gap-y(4);
}

@mixin gap-y-8 {
  @include gap-y(8);
}

@mixin gap-y-12 {
  @include gap-y(12);
}

@mixin gap-y-16 {
  @include gap-y(16);
}

@mixin gap-y-24 {
  @include gap-y(24);
}

@mixin gap-y-32 {
  @include gap-y(32);
}

@mixin gap-y-40 {
  @include gap-y(40);
}
