@mixin gap-x($size) {
  column-gap: px($size);
}

@mixin gap-x-4 {
  @include gap-x(4);
}

@mixin gap-x-8 {
  @include gap-x(8);
}

@mixin gap-x-12 {
  @include gap-x(12);
}

@mixin gap-x-16 {
  @include gap-x(16);
}

@mixin gap-x-24 {
  @include gap-x(24);
}

@mixin gap-x-32 {
  @include gap-x(32);
}

@mixin gap-x-40 {
  @include gap-x(40);
}
