
@mixin mg($size) {
  margin: px($size) px($size) px($size) px($size);
}

@mixin mg-0 {
  @include mg(0);
}

@mixin mg-4 {
  @include mg(4);
}

@mixin mg-8 {
  @include mg(8);
}

@mixin mg-12 {
  @include mg(12);
}

@mixin mg-16 {
  @include mg(16);
}

@mixin mg-24 {
  @include mg(24);
}

@mixin mg-32 {
  @include mg(32);
}

@mixin mg-40 {
  @include mg(40);
}

@mixin mg-48 {
  @include mg(48);
}

@mixin mg-64 {
  @include mg(64);
}

@mixin mg-96 {
  @include mg(96);
}

@mixin mg-160 {
  @include mg(160);
}

