
@mixin mgb($size) {
  margin-bottom: px($size);
}

@mixin mgb-0 {
  @include mgb(0);
}

@mixin mgb-4 {
  @include mgb(4);
}

@mixin mgb-8 {
  @include mgb(8);
}

@mixin mgb-12 {
  @include mgb(12);
}

@mixin mgb-16 {
  @include mgb(16);
}

@mixin mgb-24 {
  @include mgb(24);
}

@mixin mgb-32 {
  @include mgb(32);
}

@mixin mgb-40 {
  @include mgb(40);
}

@mixin mgb-48 {
  @include mgb(48);
}

@mixin mgb-64 {
  @include mgb(64);
}

@mixin mgb-96 {
  @include mgb(96);
}

@mixin mgb-160 {
  @include mgb(160);
}

