
@mixin mgl($size) {
  margin-left: px($size);
}

@mixin mgl-0 {
  @include mgl(0);
}

@mixin mgl-4 {
  @include mgl(4);
}

@mixin mgl-8 {
  @include mgl(8);
}

@mixin mgl-12 {
  @include mgl(12);
}

@mixin mgl-16 {
  @include mgl(16);
}

@mixin mgl-24 {
  @include mgl(24);
}

@mixin mgl-32 {
  @include mgl(32);
}

@mixin mgl-40 {
  @include mgl(40);
}

@mixin mgl-48 {
  @include mgl(48);
}

@mixin mgl-64 {
  @include mgl(64);
}

@mixin mgl-96 {
  @include mgl(96);
}

@mixin mgl-160 {
  @include mgl(160);
}

