
@mixin mgr($size) {
  margin-right: px($size);
}

@mixin mgr-0 {
  @include mgr(0);
}

@mixin mgr-4 {
  @include mgr(4);
}

@mixin mgr-8 {
  @include mgr(8);
}

@mixin mgr-12 {
  @include mgr(12);
}

@mixin mgr-16 {
  @include mgr(16);
}

@mixin mgr-24 {
  @include mgr(24);
}

@mixin mgr-32 {
  @include mgr(32);
}

@mixin mgr-40 {
  @include mgr(40);
}

@mixin mgr-48 {
  @include mgr(48);
}

@mixin mgr-64 {
  @include mgr(64);
}

@mixin mgr-96 {
  @include mgr(96);
}

@mixin mgr-160 {
  @include mgr(160);
}

