
@mixin mgt($size) {
  margin-top: px($size);
}

@mixin mgt-0 {
  @include mgt(0);
}

@mixin mgt-4 {
  @include mgt(4);
}

@mixin mgt-8 {
  @include mgt(8);
}

@mixin mgt-12 {
  @include mgt(12);
}

@mixin mgt-16 {
  @include mgt(16);
}

@mixin mgt-24 {
  @include mgt(24);
}

@mixin mgt-32 {
  @include mgt(32);
}

@mixin mgt-40 {
  @include mgt(40);
}

@mixin mgt-48 {
  @include mgt(48);
}

@mixin mgt-64 {
  @include mgt(64);
}

@mixin mgt-96 {
  @include mgt(96);
}

@mixin mgt-160 {
  @include mgt(160);
}

