
@mixin mgx($size) {
  margin-left: px($size);
  margin-right: px($size);
}

@mixin mgx-0 {
  @include mgx(0);
}

@mixin mgx-4 {
  @include mgx(4);
}

@mixin mgx-8 {
  @include mgx(8);
}

@mixin mgx-12 {
  @include mgx(12);
}

@mixin mgx-16 {
  @include mgx(16);
}

@mixin mgx-24 {
  @include mgx(24);
}

@mixin mgx-32 {
  @include mgx(32);
}

@mixin mgx-40 {
  @include mgx(40);
}

@mixin mgx-48 {
  @include mgx(48);
}

@mixin mgx-64 {
  @include mgx(64);
}

@mixin mgx-96 {
  @include mgx(96);
}

@mixin mgx-160 {
  @include mgx(160);
}

