
@mixin mgy($size) {
  margin-top: px($size);
  margin-bottom: px($size);
}

@mixin mgy-0 {
  @include mgy(0);
}

@mixin mgy-4 {
  @include mgy(4);
}

@mixin mgy-8 {
  @include mgy(8);
}

@mixin mgy-12 {
  @include mgy(12);
}

@mixin mgy-16 {
  @include mgy(16);
}

@mixin mgy-24 {
  @include mgy(24);
}

@mixin mgy-32 {
  @include mgy(32);
}

@mixin mgy-40 {
  @include mgy(40);
}

@mixin mgy-48 {
  @include mgy(48);
}

@mixin mgy-64 {
  @include mgy(64);
}

@mixin mgy-96 {
  @include mgy(96);
}

@mixin mgy-160 {
  @include mgy(160);
}

