
@mixin pd($size) {
  padding: px($size) px($size) px($size) px($size);
}

@mixin pd-0 {
  @include pd(0);
}

@mixin pd-4 {
  @include pd(4);
}

@mixin pd-8 {
  @include pd(8);
}

@mixin pd-12 {
  @include pd(12);
}

@mixin pd-16 {
  @include pd(16);
}

@mixin pd-24 {
  @include pd(24);
}

@mixin pd-32 {
  @include pd(32);
}

@mixin pd-40 {
  @include pd(40);
}

@mixin pd-48 {
  @include pd(48);
}

@mixin pd-64 {
  @include pd(64);
}

@mixin pd-96 {
  @include pd(96);
}

@mixin pd-160 {
  @include pd(160);
}

