
@mixin pdb($size) {
  padding-bottom: px($size);
}

@mixin pdb-0 {
  @include pdb(0);
}

@mixin pdb-4 {
  @include pdb(4);
}

@mixin pdb-8 {
  @include pdb(8);
}

@mixin pdb-12 {
  @include pdb(12);
}

@mixin pdb-16 {
  @include pdb(16);
}

@mixin pdb-24 {
  @include pdb(24);
}

@mixin pdb-32 {
  @include pdb(32);
}

@mixin pdb-40 {
  @include pdb(40);
}

@mixin pdb-48 {
  @include pdb(48);
}

@mixin pdb-64 {
  @include pdb(64);
}

@mixin pdb-96 {
  @include pdb(96);
}

@mixin pdb-160 {
  @include pdb(160);
}

