
@mixin pdl($size) {
  padding-left: px($size);
}

@mixin pdl-0 {
  @include pdl(0);
}

@mixin pdl-4 {
  @include pdl(4);
}

@mixin pdl-8 {
  @include pdl(8);
}

@mixin pdl-12 {
  @include pdl(12);
}

@mixin pdl-16 {
  @include pdl(16);
}

@mixin pdl-24 {
  @include pdl(24);
}

@mixin pdl-32 {
  @include pdl(32);
}

@mixin pdl-40 {
  @include pdl(40);
}

@mixin pdl-48 {
  @include pdl(48);
}

@mixin pdl-64 {
  @include pdl(64);
}

@mixin pdl-96 {
  @include pdl(96);
}

@mixin pdl-160 {
  @include pdl(160);
}

