
@mixin pdr($size) {
  padding-right: px($size);
}

@mixin pdr-0 {
  @include pdr(0);
}

@mixin pdr-4 {
  @include pdr(4);
}

@mixin pdr-8 {
  @include pdr(8);
}

@mixin pdr-12 {
  @include pdr(12);
}

@mixin pdr-16 {
  @include pdr(16);
}

@mixin pdr-24 {
  @include pdr(24);
}

@mixin pdr-32 {
  @include pdr(32);
}

@mixin pdr-40 {
  @include pdr(40);
}

@mixin pdr-48 {
  @include pdr(48);
}

@mixin pdr-64 {
  @include pdr(64);
}

@mixin pdr-96 {
  @include pdr(96);
}

@mixin pdr-160 {
  @include pdr(160);
}

