
@mixin pdt($size) {
  padding-top: px($size);
}

@mixin pdt-0 {
  @include pdt(0);
}


@mixin pdt-4 {
  @include pdt(4);
}

@mixin pdt-8 {
  @include pdt(8);
}

@mixin pdt-12 {
  @include pdt(12);
}

@mixin pdt-16 {
  @include pdt(16);
}

@mixin pdt-24 {
  @include pdt(24);
}

@mixin pdt-32 {
  @include pdt(32);
}

@mixin pdt-40 {
  @include pdt(40);
}

@mixin pdt-48 {
  @include pdt(48);
}

@mixin pdt-64 {
  @include pdt(64);
}

@mixin pdt-96 {
  @include pdt(96);
}

@mixin pdt-160 {
  @include pdt(160);
}

