
@mixin pdx($size) {
  padding-left: px($size);
  padding-right: px($size);
}

@mixin pdx-0 {
  @include pdx(0);
}

@mixin pdx-4 {
  @include pdx(4);
}

@mixin pdx-8 {
  @include pdx(8);
}

@mixin pdx-12 {
  @include pdx(12);
}

@mixin pdx-16 {
  @include pdx(16);
}

@mixin pdx-24 {
  @include pdx(24);
}

@mixin pdx-32 {
  @include pdx(32);
}

@mixin pdx-40 {
  @include pdx(40);
}

@mixin pdx-48 {
  @include pdx(48);
}

@mixin pdx-64 {
  @include pdx(64);
}

@mixin pdx-96 {
  @include pdx(96);
}

@mixin pdx-160 {
  @include pdx(160);
}

