
@mixin pdy($size) {
  padding-top: px($size);
  padding-bottom: px($size);
}

@mixin pdy-0 {
  @include pdy(0);
}

@mixin pdy-4 {
  @include pdy(4);
}

@mixin pdy-8 {
  @include pdy(8);
}

@mixin pdy-12 {
  @include pdy(12);
}

@mixin pdy-16 {
  @include pdy(16);
}

@mixin pdy-24 {
  @include pdy(24);
}

@mixin pdy-32 {
  @include pdy(32);
}

@mixin pdy-40 {
  @include pdy(40);
}

@mixin pdy-48 {
  @include pdy(48);
}

@mixin pdy-64 {
  @include pdy(64);
}

@mixin pdy-96 {
  @include pdy(96);
}

@mixin pdy-160 {
  @include pdy(160);
}

